.gutenpress-form .form-table tr{
	border-top: 1px dotted #eee;
}
.gutenpress-form .form-table tr:first-child{
	border-top: 0;
}
.gutenpress-form .form-table th{
	border-right: 1px dotted #eee;
}
.gutenpress-form .form-table td p:last-child{
	margin-bottom: 0;
}
.gutenpress-form fieldset .control-group label{
	display: inline-block;
	text-align: right;
	min-width: 165px;
	padding-right: 1em;
}
.gutenpress-form .fieldset-multiple-actions{
	margin-left: 165px;
	padding-left: 1em;
}
.gutenpress-form .btn-link{
	display: inline;
	border: none;
	margin: 0;
	padding: 0;
	background: none;
	text-decoration: underline;
	color: rgb(33, 117, 155);
	cursor: pointer;
}
.gutenpress-form .hidden{
	display: none;
}
.gutenpress-form .btn-link:focus, .gutenpress-form .btn-link:active{
	color: rgb(18, 73, 100);
	outline: thin dotted;
}
.gutenpress-form .btn-link:hover{
	color: rgb(213, 78, 33);
}
#side-sortables .gutenpress-form label{
	padding-right: 1em;
}
#side-sortables .gutenpress-form .control-group{
	border-top: 1px dotted #dcdcdc;
	margin-top: 5px;
}
#side-sortables .gutenpress-form .control-group:first-child{
	border-top: 0;
	margin-top: 0;
}
/* Radio and checkbox inputs */
#side-sortables .gutenpress-form div.control-group p.control-group{
	margin: 0;
	padding: .5em 0;
}
#side-sortables .gutenpress-form div.control-group p.control-group input[type="radio"],
#side-sortables .gutenpress-form div.control-group p.control-group input[type="checkbox"]{
	position: relative;
	top: -1px;
}
.gp-sortable-content{
	box-shadow: 0px 1px 0px rgb(255, 255, 255) inset;
	background: linear-gradient(to top, rgb(245, 245, 245), rgb(249, 249, 249)) repeat scroll 0% 0% rgb(245, 245, 245);
	margin-left: -10px;
	margin-bottom: -6px;
}
.gp-sortable-content ul{
	padding: 10px 10px 15px;
}
.gp-sortable-content li{
	line-height: 1.5;
}
@media only screen and (max-width:900px){
	.gutenpress-form fieldset .control-group{
		margin-top: 1em;
	}
	.gutenpress-form fieldset .control-group:first-child{
		margin-top: 0;
	}
	.gutenpress-form fieldset .control-group label{
		display: block;
		min-width: 0;
		text-align: left;
	}
}

/** Dialogs **/
.gutenpress-dialog .gutenpress-dialog-content{
	padding: 10px;
}
.gutenpress-dialog-actions{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 44px;
	background: #eee;
	margin-top: 1em;
	border-top: 1px solid #eee;
}
.gutenpress-dialog-actions-wrap{
	padding: 10px 10px 20px;
}
.gutenpress-dialog-actions-wrap button, .gutenpress-dialog-actions-wrap input[type="submit"]{
	float: right;
}
.gutenpress-dialog-content{
	overflow: auto;
}
.gutenpress-shortcode-preview{
	float: left;
	width: 70%;
	border: 1px solid #eee;
	color: #999;
	padding: 3px;
}
.gp-wpgallery-controls{
	clear: both;
}
.gp-wpgallery-item{
	padding: 2px;
	border: 1px solid #dcdcdc;
	background: #f7f7f7;
	cursor: move;
}
.gp-wpgallery .ui-sortable-placeholder{
	background: #eee;
	border: 3px dashed #ddd;
}
.ui-dialog {
	z-index: 9999 !important;
}

.gp-wpgallery-item img {
	width: 100% !important;
	height: 100% !important;
}
.gp-wpgallery-item .media-modal-icon.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: .5rem;
	background-image: none;
	background-color: #008ec2;
	color: #FFF;
	text-decoration: none;
} 
.gp-wpgallery-controls {
	padding-top: 1.5rem;
}