<div class="candidate-detail element-detail">
	<h1 class="medium-title"> <i class="material-icons">people</i> <a ng-click="userProfileRedirect(candidate.id)">{{candidate.nombre}}</a></h1>
	<div class="meta-details">
		<span class="partido">{{candidate.partido}}</span> / 
		<span class="comuna"><a ng-click="comunaProfileRedirect(candidate.comuna_id)">{{candidate.comuna}}</a></span>
	</div>
	<h5 class="monto">
		<span>Total</span>
		<i class="material-icons">local_atm</i> {{candidate.monto|currency:'$':0}}
	</h5>
	<div class="content-select" ng-switch on="selectedButton" ng-show="candidate.monto > 0">
		<div class="element" ng-switch-when="1">
			<gauge-chart id="gauge" options="gaugeChart" height="100%" width="100%"></gauge-chart>
			<p class="limiteComuna">
				Limite de gasto: <strong>{{limite | currency:'$':0}}</strong>
			</p>
		</div>
		<div class="element" ng-switch-when="2">
			<div class="map-viewport">
				<am-chart id="aportesType" options="aportesChart" height="350" style="height: 450px;" width="100%"></am-chart>
			</div>
		</div>
	</div>
	<div ng-show="candidate.monto == 0">
		<div class="callout warning">
			<h5>Sin aportes</h5>
			<p>El candidato o candidata seleccionada no posee aportes por el momento</p>
		</div>
	</div>

	<div class="candidate-buttons button-list">
		<div class="row large-up-3 small-up-3 medium-up-3">
			<div class="column">
				<button ng-click="donationLimitGraph()" class="button" ng-class="{ 'active': 1 == selectedButton }">
					<i class="material-icons">slow_motion_video</i><br>
					<span>Limite de aportes</span>
				</button>
			</div>
			<div class="column">
				<button ng-click="typeGraph()" class="button" ng-class="{ 'active': 2 == selectedButton }">
					<i class="material-icons">pie_chart</i><br>
					<span>Aportes por tipo</span>
				</button>
			</div>
			<div class="column">
				<button ng-click="userProfileRedirect(candidate.id)" class="button" ng-class="{ 'active': 3 == selectedButton }">
					<i class="material-icons">content_paste</i><br>
					<span>Nómina aportantes</span>
				</button>
			</div>
		</div>
	</div>

</div>