<div class="region-detail element-detail ">
	<h1 class="medium-title"> <i class="material-icons">place</i> {{region[0].REGION_NOMBRE}}</h1>
	<h5 class="monto">
		<span>Total</span>
		<i class="material-icons">local_atm</i> {{region[1].monto|currency:'$':0}}
	</h5>
	<div ng-show="region[1].monto > 0">
		<!-- <gauge-chart id="gauge" options="pieChart" height="100%" width="100%"></gauge-chart> -->
		<div class="map-viewport">
			<am-chart id="Comunas" options="pieChart" height="350" style="height: 450px;" width="100%"></am-chart>
		</div>
	</div>
	<div ng-show="region[1].monto == 0">
		<div class="callout warning">
			<h5>Sin Gastos</h5>
			<p>La región seleccionada no posee gastos por el momento</p>
		</div>
	</div>
</div>