<div class="candidate-detail element-detail">
	<h1 class="medium-title"> <i class="material-icons">people</i> <a ng-click="userProfileRedirect(candidate.id)">{{candidate.nombre}}</a></h1>
	<div class="meta-details">
		<span class="partido">{{candidate.partido}}</span> / 
		<span class="comuna"><a ng-click="comunaProfileRedirect(candidate.comuna_id)">{{candidate.comuna}}</a></span>
	</div>
	<h5 class="monto">
		<span>Total</span>
		<i class="material-icons">local_atm</i> {{candidate.total_gastos|currency:'$':0}}
	</h5>
	<div ng-show="candidate.total_gastos > 0">
		<gauge-chart id="gauge" options="gaugeChart" height="100%" width="100%"></gauge-chart>
	</div>	
	</div>
	<div ng-show="candidate.total_gastos == 0">
		<div class="callout warning">
			<h5>Sin gastos</h5>
			<p>El candidato o candidata seleccionada no posee gastos por el momento</p>
		</div>
	</div>

</div>