<div class="row show-for-small-only" id="menuButtons">
	<div class="small-12 columns">
		<div class="row small-up-3">
			<div class="column">
				<button class="button expanded small secondary" scroll-to-item scroll-to="#comunaPuntos">Puntos</button>
			</div>
			<div class="column">
				<button class="button expanded small secondary" scroll-to-item scroll-to="#comunaCandidatos">Candidatos</button>
			</div>
			<div class="column">
				<button class="button expanded small secondary" scroll-to-item scroll-to="#comunaAportes">Aportes</button>
			</div>
			
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="white box map" id="mapComuna">
			<h1 class="medium-title"> <i class="material-icons">place</i> {{comuna}}</h1>
			<leaflet markers="markers" layers="layers" center="center" default="default" height="480px" width="100%"></leaflet>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<div class="white box" id="comunaInfo">
			<div class="show-for-small-only text-center"><button class="secondary small" scroll-to-item scroll-to="#menuButtons"><i class="material-icons">keyboard_arrow_up</i></button></div>
			<h4 class="small-title">Información de comuna</h4>
			<table class="formated-tables">
				<tbody>
					<tr>
						<td>Distrito</td>
						<td>{{comuna_distrito}}</td>
					</tr>
					<tr>
						<td>Circunscripción</td>
						<td>{{comuna_circunscripcion}}</td>
					</tr>
					<tr>
						<td>Provincia</td>
						<td>{{comuna_provincia}}</td>
					</tr>
					<tr>
						<td>Región</td>
						<td>{{comuna_region}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="white box" id="comunaPuntos">
			<div class="show-for-small-only text-center"><button class="secondary small" scroll-to-item scroll-to="#menuButtons"><i class="material-icons">keyboard_arrow_up</i></button></div>
			<div class="table-points">
				<table ng-show="markerList.length > 0" class="formated-tables">
					<thead>
						<th>&nbsp;</th>
						<th>Lugar</th>
					</thead>
					<tbody>
						<tr ng-repeat="item in markerList" ng-class="{ 'active': item.id == selectedMarker }" scroll-to-item scroll-to="#mapComuna" ng-click="selectPoint(item)">
							<td><i class="material-icons">location_on</i></td>
							<td>{{item.nombre_espacio}}</td>
						</tr>
					</tbody>
				</table>
				<div ng-show="markerList.length == 0" class="alert callout">No hay puntos definidos para la comuna.</div>
			</div>
		</div>
	</div>
	<div class="large-6 columns">
		<div class="item-buttons">
			<ul id="home-tabs" class="menu">
				<li ng-class="{ 'is-active': tipoCandidato == 'diputados', 'tabs-title': true }"><a ng-click="profileRedirect('diputados')">Diputación</a></li>
				<li ng-class="{ 'is-active': tipoCandidato == 'senadores', 'tabs-title': true }"><a ng-click="profileRedirect('senadores')">Senatorial</a></li>
				<li ng-class="{ 'is-active': tipoCandidato == 'presidente', 'tabs-title': true }"><a ng-click="profileRedirect('presidente')">Presidencial</a></li>
			</ul>
		</div>
		<div class="white box" id="comunaCandidatos">
			<div class="show-for-small-only text-center"><button class="secondary small" scroll-to-item scroll-to="#menuButtons"><i class="material-icons">keyboard_arrow_up</i></button></div>
			<h3 class="main-title"><i class="material-icons">people</i> <span>Listado de candidatos</span></h3>
			<div class="table-candidates">
				<table ng-show="listCandidate.length > 0" class="formated-tables">
					<thead>
						<th>Nombre</th>
						<th>Partido</th>
					</thead>
					<tbody>
						<tr ng-repeat="item in listCandidate" ng-click="selectCandidate(item)" ng-class="{ 'active': item.id == selectedCandidate }">
							<td>{{item.nombre}}</td>
							<td>{{item.partido}}</td>
							<td class="text-center"><a ng-click="userProfileRedirect(item.id)" class="button primary tiny view-person">Ver</a></td>
						</tr>
					</tbody>
				</table>
				<div ng-show="listCandidate.length == 0" class="alert callout">No hay candidatos inscritos en esta comuna.</div>
			</div>
		</div>
		<div class="white box" id="comunaAportes">
			<div class="show-for-small-only text-center"><button class="secondary small" scroll-to-item scroll-to="#menuButtons"><i class="material-icons">keyboard_arrow_up</i></button></div>
			<div ng-if="isSelectedCandidate">
				<h3 class="main-title"><i class="material-icons">assignment_ind</i> <span><a ng-click="userProfileRedirect(chosenCandidate.id)">{{chosenCandidate.nombre}}</a></span></h3>
				<div ng-show="chosenCandidate.monto > 0">
					<h5 class="mini-title text-center">Aportes por tipo</h5>
					<div class="sk-folding-cube green" ng-class="{ 'hide': !processingInfo }">
					  <div class="sk-cube1 sk-cube"></div>
					  <div class="sk-cube2 sk-cube"></div>
					  <div class="sk-cube4 sk-cube"></div>
					  <div class="sk-cube3 sk-cube"></div>
					</div>
					<am-chart id="aportesType" options="tipoAaporteChart" height="350" style="height: 450px;" width="100%" ng-class="{ 'hide': processingInfo }"></am-chart>
				</div>
				<div ng-show="chosenCandidate.monto == 0">
					<div class="callout warning">
						<h5>Sin aportes</h5>
						<p>El candidato o candidata seleccionada no posee aportes aún</p>
					</div>
				</div>
			</div>
			<h2 class="sub-title"><i class="material-icons">local_atm</i> <span>Aportes candidatos de la comuna</span></h2>
			<gauge-chart id="candidatosComuna" options="candidatosComuna" height="350" style="height: 550px;" width="100%"></gauge-chart>
			</div>
		</div>
	</div>
</div>