<div class="large-6 small-12 columns">
	<h1 class="medium-title"> <i class="material-icons">people</i> {{candidato.nombre_candidato}}</h1>
	<span class="person subtitle">Candidato(a) a {{texto_tipo_candidato}}</span>
	<div class="meta-profile">
		<table class="profile-table">
			<tr ng-if="tipo_eleccion == 'senadores'">
				<td class="title">Circunscripción</td>
				<td class="value">{{candidato_circunscripcion}}</td>
			</tr>
			<tr ng-if="tipo_eleccion == 'diputados'">
				<td class="title">distrito</td>
				<td class="value">{{candidato_distrito}}</td>
			</tr>
			<tr>
				<td class="title">Partido</td>
				<td class="value">{{candidato.partido}}</td>
			</tr>
			<tr>
				<td class="title">Pacto</td>
				<td class="value">{{candidato.pacto}}</td>
			</tr>
			<tr ng-if="hasDeclaration">
				<td class="title">Declaración</td>
				<td class="value"><a ng-href="{{candidato.url_declaracion}}" target="_blank">Descargar</a></td>
			</tr>
			<tr ng-if="enlaces.length" class="links-list">
				<td class="title">Enlaces</td>
				<td class="links-content">
					<ul>
						<li class="person-link" ng-repeat="item in enlaces">
							<a ng-href="{{item.url}}">{{item.url}}</a>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="large-6 columns" id="perfilGrafico">
	<div class="show-for-small-only text-center"><button class="secondary small" scroll-to-item scroll-to="#menuButtons"><i class="material-icons">keyboard_arrow_up</i></button></div>
	<h5 class="monto">
		<span>Total</span>
		<i class="material-icons">local_atm</i> {{aportes.total|currency:'$':0}}
	</h5>

	<div class="content-select" ng-switch on="selectedButton" style="height: 450px;">
		<div class="sk-folding-cube green" ng-class="{ 'hide': !processingInfo }">
		  <div class="sk-cube1 sk-cube"></div>
		  <div class="sk-cube2 sk-cube"></div>
		  <div class="sk-cube4 sk-cube"></div>
		  <div class="sk-cube3 sk-cube"></div>
		</div>

		<div class="element" ng-switch-when="1" ng-class="{ 'hide': processingInfo }">
			<div class="text-center minibutton-list" ng-if="esPresidente">
				<button ng-click="firstRound()" class="button tiny" ng-class="{ 'active': 1 == selectedRoundButton }">1era Vuelta</button>
				<button ng-click="secondRound()" class="button tiny" ng-class="{ 'active': 2 == selectedRoundButton }">2da Vuelta</button>
			</div>
			<gauge-chart id="gauge" options="gaugeChart" height="100%" width="100%"></gauge-chart>
			<div class="simbologia-flechas">
				<div class="item-flecha has-tip" tooltips tooltip-template="Cálculo estimativo de aportes en dinero y especie de acuerdo a información de municipales del 2016" ng-if="active_aporte_partido"><i class="color-square green"></i> Aporte estimado partido </div>
				<div class="item-flecha"><i class="color-square blue"></i> Aportes recibidos</div>
			</div>
			<p class="limiteComuna">
				Limite de gasto: <strong>{{limite | currency:'$':0}}</strong>
			</p>
		</div>
		<div class="element" ng-switch-when="2" ng-class="{ 'hide': processingInfo }">
			<div ng-show="aportes.total == 0">
				<div class="callout warning">
					<h5>Sin aportes</h5>
					<p>El candidato o candidata seleccionada no posee aportes por el momento</p>
				</div>
			</div>
			<div class="map-viewport" ng-show="aportes.total > 0">
				<am-chart id="aportesType" options="tipoAportesChart" height="350" style="height: 450px;" width="100%"></am-chart>
			</div>
		</div>
		<div class="element" ng-switch-when="3" ng-class="{ 'hide': processingInfo }">
			<gauge-chart id="candidatosComuna" options="candidatosComuna" height="350" style="height: 550px;" width="100%"></gauge-chart>
		</div>
	</div>

	<div class="candidate-buttons button-list" ng-class="{'es-presidente': esPresidente }">
		<div class="row large-up-3 small-up-3 medium-up-3">
			<div class="column">
				<button ng-click="donationLimitGraph()" class="button" ng-class="{ 'active': 1 == selectedButton }">
					<i class="material-icons">slow_motion_video</i><br>
					<span>Limite de aportes</span>
				</button>
			</div>
			<div class="column">
				<button ng-click="typeGraph()" class="button" ng-class="{ 'active': 2 == selectedButton }">
					<i class="material-icons">equalizer</i><br>
					<span>Aportes por tipo</span>
				</button>
			</div>
			<div class="column">
				<button ng-click="otherCandidates()" class="button" ng-class="{ 'active': 3 == selectedButton }">
					<i class="material-icons">people</i><br>
					<span>Otros candidatos</span>
				</button>
			</div>
		</div>
	</div>
</div>