<div class="region-detail element-detail ">
	<h1 class="medium-title"> <i class="material-icons">place</i> {{region[0].REGION_NOMBRE}}</h1>
	<h5 class="monto">
		<span>Total</span>
		<i class="material-icons">local_atm</i> {{region[1].monto|currency:'$':0}}
	</h5>
	<div ng-show="region[1].monto > 0 || selectedButton == 4">
	<!-- <gauge-chart id="gauge" options="pieChart" height="100%" width="100%"></gauge-chart> -->
		<div class="map-viewport">
			<div class="sk-folding-cube green" ng-class="{ 'hide': !processingInfo }">
			  <div class="sk-cube1 sk-cube"></div>
			  <div class="sk-cube2 sk-cube"></div>
			  <div class="sk-cube4 sk-cube"></div>
			  <div class="sk-cube3 sk-cube"></div>
			</div>
			<am-chart id="Comunas" options="pieChart" height="350" style="height: 450px;" width="100%" ng-class="{ 'hide': processingInfo }"></am-chart>
		</div>
		<div ng-show="selectedButton == 4">
			<h5 class="monto">
				<span>Total 2012</span>
				<i class="material-icons">local_atm</i> {{total_2012|currency:'$':0}}
			</h5>
		</div>
	</div>
	<div ng-show="region[1].monto == 0">
		<div class="callout warning">
			<h5>Sin aportes</h5>
			<p>La región seleccionada no posee aportes por el momento</p>
		</div>
	</div>


	<div class="region-buttons button-list">
		<div class="row large-up-4 small-up-2 medium-up-4">
			<div class="column">
				<button ng-click="locationGraph()" class="button" ng-class="{ 'active': 1 == selectedButton }">
					<i class="material-icons">location_on</i><br>
					<span>Aportes por Comuna</span>
				</button>
			</div>
			<div class="column">
				<button ng-click="partyGraph()" class="button" ng-class="{ 'active': 2 == selectedButton }">
					<i class="material-icons">supervisor_account</i><br>
					<span>Aportes por partido</span>
				</button>
			</div>
			<div class="column">
				<button ng-click="donationTypeGraph(2016)" class="button" ng-class="{ 'active': 3 == selectedButton }">
					<i class="material-icons">attach_money</i><br>
					<span>Tipos aporte 2016</span>
				</button>
			</div>
			<div class="column">
				<button ng-click="donationTypeGraph(2012)" class="button" ng-class="{ 'active': 4 == selectedButton }">
					<i class="material-icons">attach_money</i><br>
					<span>Tipos aporte 2012</span>
				</button>
			</div>
		</div>
	</div>
</div>