@font-face {
  font-family: 'ep';
  src:  url('fonts/ep.eot?udye8h');
  src:  url('fonts/ep.eot?udye8h#iefix') format('embedded-opentype'),
    url('fonts/ep.ttf?udye8h') format('truetype'),
    url('fonts/ep.woff?udye8h') format('woff'),
    url('fonts/ep.svg?udye8h#ep') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ep' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .icon-binoculares:before {
//   content: "\e900";
// }
.icon-binoculares {
  width: 6rem;
  height: 6rem;
}
.icon-candidato:before {
  content: "\e901";
}
.icon-gasto:before {
  content: "\e902";
}
.icon-mapa:before {
  content: "\e903";
}
.icon-papeleta:before {
  content: "\e904";
}
.icon-pilar:before {
  content: "\e905";
}
.icon-urna:before {
  content: "\e906";
}
// .icon-votar:before {
//   content: "\e907";
// }
.icon-votar {
  width: 6rem;
  height: 6rem;
}

/*Roboto font family*/

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Bold.eot');
  src: url('fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/RobotoCondensed-Bold.woff') format('woff'),
    url('fonts/RobotoCondensed-Bold.ttf') format('truetype'),
    url('fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.eot');
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Regular.woff') format('woff'),
    url('fonts/Roboto-Regular.ttf') format('truetype'),
    url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-LightItalic.eot');
  src: url('fonts/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/RobotoCondensed-LightItalic.woff') format('woff'),
    url('fonts/RobotoCondensed-LightItalic.ttf') format('truetype'),
    url('fonts/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Regular.eot');
  src: url('fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/RobotoCondensed-Regular.woff') format('woff'),
    url('fonts/RobotoCondensed-Regular.ttf') format('truetype'),
    url('fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Light.eot');
  src: url('fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/RobotoCondensed-Light.woff') format('woff'),
    url('fonts/RobotoCondensed-Light.ttf') format('truetype'),
    url('fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

