// Wordpress stuff
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
//Common things
body {
	background: url(img/bg-pattern.png) repeat;
	overflow-x: hidden;
}
.green {
	background-color: map-get($foundation-palette,primary);
}
.purple {
	background-color: map-get($foundation-palette,secondary);
}
.yellow {
	background-color: map-get($foundation-palette,third);
}
.blue {
	background-color: map-get($foundation-palette,fourth);
}
.white {
	background-color: $white;
}
.support-text {
	font-family: $font-title;
	color: darken($dark-gray,15);
	font-size: 1.2rem;
	margin-top: 3rem;
}
.mini-title {
	font-family: $font-title;
	color: $dark-gray;
	text-transform: uppercase;
	font-size: .9rem;
}
#leyendaComparativa {
	padding-left: 6rem;
}
a[href="http://www.amcharts.com/javascript-charts/"] {
	display: none !important;
}
.box {
	box-shadow: 1px 1px 4px $medium-gray;
	padding: 1rem 1.5rem;
	margin-bottom: 1rem;
	.main-title {
		.material-icons  {
			color: lighten($black, 15);
		}
		span {
			font-family: $font-title;
			color: $dark-gray;
			text-transform: uppercase;
		}
	}
	.sub-title {
		.material-icons  {
			position: relative;
			top: .3rem;
			color: lighten($black, 25);
		}
		span {
			font-family: $font-title;
			color: $dark-gray;
			text-transform: uppercase;
			font-size: 1.2rem;
			font-style: italic;
		}
	}
}
.space-bottom {
	margin-bottom: 2rem !important;
}
.space-top {
	margin-top: 2rem !important;
}
.section-title {
	margin-top: 2rem;
	font-family: $font-title;
	color: map-get($foundation-palette,secondary);
	font-weight: rem-calc(60);
	text-transform: uppercase;
}
.description {
	font-size: .9rem;
	color: $dark-gray;
	font-family: $font-title;
	&.table {
		margin-top: 1rem;
		text-transform: uppercase;
		font-weight: 300;
	}
	&.small {
		font-weight: 300;
		font-size: .8rem;
		text-transform: uppercase;
	}
}
.bold-title {
	font-size: rem-calc(42);
	font-family: $font-title;
	font-weight: 700;
	text-transform: uppercase;
	color: map-get($foundation-palette,fourth);
	@include breakpoint(small only) {
		font-size: 1.5rem;
	}
}
.select-space {
	position: relative;
	width: 60%;
	.dashicons {
		position: absolute;
		right: .5rem;
		top: 1rem;
		z-index: 10;
	}
	.select-box {
		position: relative;
		top: .3rem;
		height: 3rem;
		background-color: lighten($light-gray,5);
		text-transform: uppercase;
		font-family: $font-title;
		color: map-get($foundation-palette,primary);
		font-size: 1.5rem;
	}
	@include breakpoint(small only) {
		width: 100%;
	}
}
.big-icon {
	font-size: 6rem;
}
.inner-space {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
	&.mobile-no-space {
		padding-top: 0 !important;
		padding-bottom: 0 !important;	
	}
}

.inner-small-space {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.entry-title {
	font-family: $font-title;
	text-transform: uppercase;
	font-weight: 700;
}
a {
	&:hover {
		img {
			opacity: .8;
		}
	}
}

//HEADER
.main-header {
	&>.row {
		position: relative;
	}
	.site-logo {
		position: absolute;
		width: 180px;
		height: 150px;
		left: 1rem;
		background-image: url(img/logo-color.svg);
		background-size: 180px auto;
		text-indent: -1000em;
		z-index: 10;
		background-color: $white;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.site-logo-front {
		background-image: url(img/logo-ep.svg);
		background-size: 98px auto;
	}
	.social {
		position: absolute;
		top: 2rem;
		right: 0;
		.menu {
			li {
				a {
					padding: .5rem;
					color: $white;
					&:hover {
						color: $medium-gray;
					}
				}
			}
		}
	}
	.search {
		position: absolute;
		top: 1.3rem;
		right: 23%;
		.search-button {
			display: block;
			padding: 1rem;
			.material-icons {
				color: $white;
			}
			&:hover {
				background-color: darken($primary-color,7);
			}
			&.active {
				background-color: darken($primary-color,7);	
			}
		}
	}
	.main-menu {
		padding: 2rem 0;
		ul {
			li {
				a {
					color: $white;
					font-size: 1.2rem;
					text-transform: uppercase;
					padding-bottom: .5rem;
					margin-bottom: .5rem;
					&:hover {
						margin-bottom: 0;
						border-bottom: 3px solid map-get($foundation-palette,secondary);
					}
				}
			}
		}
	}
}

.mobile-nav {
	.mobile-logo {
		position: absolute;
		width: 100px;
		height: 66px;
		left: 1rem;
		background-image: url(img/logo-color.svg);
		background-size: 100px auto;
		text-indent: -1000em;
		z-index: 10;
		background-color: $white;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.mobile-logo-front {
		background-image: url(img/logo-ep.svg);
		background-size: 45px auto;
	}
	.search-open {
		display: block;
		padding: .3rem;
		color: $white;
		.dashicons {
			position: relative;
			top: .1rem;
			$icon-size : 2rem;
			font-size: $icon-size;
			width: $icon-size;
			height: $icon-size;
		}
		&.active {
			background-color: darken($primary-color, 7);
		}
	}
	.mobile-nav-open {
		color: $white;
		.dashicons {
			$icon-size : 2.5rem;
			font-size: $icon-size;
			width: $icon-size;
			height: $icon-size;
		}
	}
}
.admin-bar {
    .menu-mobile-container {
        .menu {
            margin-top: 7rem;
        }
        .search-mobile {
            top: 3rem;
        }
        .close {
            top: 3rem;
        }
    }
}
.menu-mobile-container {
    @include coverer;
    position: fixed;
    z-index: 9999;
    background: map-get($foundation-palette,primary);
    opacity: 0.95;
    .close {
        position: absolute;
        right: 0;
        top: .5rem;
        color: $white;
        .dashicons {
            font-size: 3rem;
            width: 3rem;
            height: 3rem;
        }
    }
    .menu {
        margin: 5rem 5rem 0 5rem;
        li {
            padding: .2rem 0;
            margin: .2rem 0;
            a {
                color: $white;
                font-size: large;
                text-transform: uppercase;
                line-height: 1.2rem;

            }
            &.active {
            	a {
            		color: $white;
            	}
            }
        }
    }
}
.featured-content {
	position: relative;
	.featured-box {
		position: absolute;
		top: 8rem;
		text-align: center;
		.lupa-logo {
			margin: 0 auto;
			background-image: url(img/logo-color.svg);
			width: 300px;
			height: 135px;
			background-repeat: no-repeat;
			background-size: 243px;
			background-color: rgba($black,.85);
			background-position: 1.7rem 1.5rem;
			border-radius: 130px 130px 0 0;
		}
		.vote {
			$icon-size : 3.5rem;
			width: $icon-size;
			height: $icon-size;
			padding: 1rem;
			border-radius: 50%;
			background-color: map-get($foundation-palette,third);
			color: $white;
			font-size: $icon-size;
		}
		.entry-title {
			display: inline-block;
			padding: .5rem 1rem;
			color: $white;
			background: rgba($black,.85);
		}
		.entry-subtitle {
			display: inline-block;
			padding: .5rem 1rem;
			text-transform: uppercase;
			background: rgba($black,.85);
			color: $white;
		}
		.entry-summary {
			width: 70%;
			padding: 1rem;
			margin: 0 auto;
			color: $white;
			background: rgba($black,.85);
		}
	}
	@include breakpoint(small only) {
		overflow: hidden;
		height: 61vh;
		img {
			width: 190vw;
			margin-left: -38vw;
			max-width: none !important;
		}
		.entry-subtitle {
			margin-bottom: 0;
		}
		.featured-box {
			top: 2rem !important;
		}
		.entry-summary {
			width: 100% !important;
			font-size: .75rem;
		}
	}
}
.countdown {
	position: relative;
	top: -4rem;
	h3 {
		text-transform: uppercase;
		font-size: 1.2rem;
	}
	@include breakpoint(small only) {
		position: static !important;
		top: 0rem;
		margin-bottom: 1rem;
		#elecciones-countdown {
			width: 100%;
			padding-left: 0;
			.module {
				display: static;
			}
		}
	}
}
.map-viewport {
	position: relative;
	width: 480px !important;
	height: 450px !important;
	left: -1rem;
	@include breakpoint(small only) {
		width: 98vw !important;
	}
}
.indicators {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	color: $white;
	.column {
		.icon {
			text-align: right;
		}
		.content {
			.number {
				display: block;
				font-size: 6rem;
				line-height: 6rem;
				font-weight: 700;
				text-align: center;
			}
			.description {
				display: block;
				text-transform: uppercase;
				font-size: 1.2rem;
				text-align: center;
			}
		}
		@include breakpoint(small only) {
			.icon {
				text-align: center;
				.big-icon {
					font-size: 4rem;
				}
			}
			.content {
				.number {
					font-size: 3rem !important;
				}
			}
		}
	}
}
.total {
	text-align: center;
	span {
		display: block;
		font-family: $font-title;
		&.title {
			font-size: 1.2rem;
			text-transform: uppercase;
			font-weight: 300;
			color: $dark-gray;
			display: inline;
			vertical-align: super;
			padding-right: 1rem;
		}
		&.number {
			font-size: 3rem;
			font-weight: 700;
			display: inline;
		}
	}
}
#home-tabs {
	display: inline-block;
	border: none;
	border-left: 1px solid $light-gray;
	background: transparent;
	.tabs-title {
		margin-right: .3rem;
		font-family: $font-title;
		font-weight: 700;
		text-transform: uppercase;
		a {
			font-size: 1.2rem;
			background: $medium-gray;
			color: darken($dark-gray,10);
			&:hover {
				background: lighten($medium-gray, 3);
				color: map-get($foundation-palette, primary);
			}
		}
		&.is-active {
			a {
				border-top: 10px solid map-get($foundation-palette,primary);
				background: $white;
				color: map-get($foundation-palette,primary);
			}
		}
		&:last-child {
			border-right: 0;
		}
	}
	@include breakpoint(small only) {
		.tabs-title {
			a {
				padding: 1rem .5rem;
				font-size: .65rem;
			}
		}
	}
}
.float-search-box {
	position: absolute;
	width: 100%;
	top: -20rem;
	opacity: 0;
	transition: all .4s;
	z-index: 90;
	&.visible {
		top: 5rem;
		opacity: 1;
	}
	.search-box {
		padding: .5rem;
		margin: 0;
		border: 0;
		box-shadow: none;
		.search-input {
			font-size: 1.1rem;
			border: 0;
			box-shadow: none;
			@include placeholder {
				font-size: 1.2rem;
			}
		}
	}
	.search-results {
		margin: 0;
		border-top: 1px solid $medium-gray;
		max-height: 30rem;
		overflow: auto;
	}
	@include breakpoint(small only) {
		z-index: 9;
		&.visible {
			top: 2.6rem;
		}
		.search-results {
			.result-item {
				margin-bottom: 1rem;
				&.row {
					.columns {
						&.end {
							padding-top: 1rem;
							a {
								font-size: 1.3rem;
							}
							.subtitle {
								right: auto;
								left: 1rem;
								top: 0;
							}
						}
					}
				}
			}
		}	
	}
}
.search-box {
	position: relative;
	width: 95%;
	margin: 2rem auto;
	padding: 1rem;
	border: 1px solid $medium-gray;
	box-shadow: 1px 1px 4px $medium-gray;
	.search-input {
		font-size: 2rem;
		height: auto;
		width: 80%;
	}
	.submit-search {
		position: absolute;
		right: 7rem;
		top: 1rem;
		font-size: 2.5rem;
		width: 5rem;
		height: 3.5rem;
		padding: .5rem 1rem;
		border-radius: 0 .5rem .5rem 0;
	}
	@include breakpoint(small only) {
		.search-input {
			width: 100%;
			padding: 1.5rem .5rem;
			font-size: .9rem;
		}
		.submit-search {
			position: relative;
			right: 0;
			top: 0;
			width: 100%;
			border-radius: 0;
		}
	}
}
.search-results {
	position: relative;
	width: 95%;
	margin: 2rem auto;
	padding: 1rem;
	h3 {
		font-family: $font-title;
		color: $dark-gray;
		font-weight: 700;
		text-transform: uppercase;
	}
	.row {
		font-size: 1.5rem;
		&.result-item {
			.end {
				position: relative;
				.subtitle {
					position: absolute;
					right: 0;
					top: .5rem;
					font-size: .9rem;
					text-transform: uppercase;
				}
			}
		}
		.columns.end {
			color: $medium-gray;
			border-bottom: 1px solid $medium-gray;
			padding-bottom: 0.2rem;
		}
	}
}
.tabs-content {
	margin-top: -1rem;
}
.why {
	color: $white;
	&>.columns {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		.icons {
			display: block;
			text-align: center;
		}
		.entry-title {
			text-align: center;
			margin: 1rem 0 2rem 0;
		}
		.entry-reason {
			.entry-title {
				font-weight: 300;
				margin-bottom: 1rem;
			}
		}
		@include breakpoint(small only) {
			.entry-summary {
				font-size: .8rem;
			}
		}
	}
}
.details {
	text-align: center;
	.button {
		padding-bottom: 1.3rem;
		.material-icons {
			position: relative;
			top: .5rem;
			margin-right: 1rem;
			color: $white;
		}
	}
}
.minibutton-list {
	.button {
		&.active {
			background: map-get($foundation-palette, third);
		}
	}
}
.simbologia-flechas {
	text-align: center;
	.item-flecha {
		display: inline-block;
		text-transform: uppercase;
		color: $dark-gray;
		font-size: .8rem;
		.color-square {
			position: relative;
			display: inline-block;
			top: .3rem;
			width: 20px;
			height: 20px;
			border: 2px solid $light-gray;
			&.green {
				background-color: #357c00;
			}
			&.blue {
				background-color: #022863;
			}
		}
	}
}
.button-list {
	margin-top: 1rem;
	&.es-presidente {
		margin-top: 3.5rem;
	}
	.column {
		position: relative;
		.tooltips {
			position: absolute;
			top: .2rem;
			right: 1.1rem;
			.has-tip {
				border-bottom: none;
				.material-icons {
					color: $white;
				}
			}
		}
	}
	.button {
		width: 100%;
		
		&.active {
			background: map-get($foundation-palette, third);
		}
		.material-icons {
			color: $white;
			opacity: .9;
			font-size: 2rem;
		}
		span {
			font-family: $font-title;
			text-transform: uppercase;
		}
		@include breakpoint(small only) {
			padding: .5rem;
			span {
				font-size: .6rem;
			}
		}
	}
}
.region-filter {
	&>.row {
		position: relative;
		top: .5rem;
	}
	padding: 1rem 0;
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
	.filter-text {
		display: inline-block;
		font-family: $font-title;
		text-transform: uppercase;
		color: map-get($foundation-palette, primary);
	}
	.select-box {
		display: inline-block;
		width: 70%;
		border: none;
		color: map-get($foundation-palette, secondary);
		text-transform: uppercase;
		font-family: $font-title;
		font-weight: bold;
	}
}
.table-points {
	overflow-y: hidden;
	height: 51.5rem;
}

.formated-tables {
	&.no-hover {
		tbody {
			tr {
				&:hover {
					background-color: transparent !important;
					color: $dark-gray !important;
					cursor: inherit !important;
				}
			}
		}
	}
	border: none;
	thead {
		border: none;
		th {
			font-family: $font-title;
			text-transform: uppercase;
			color: map-get($foundation-palette, primary);
		}
	}
	tbody {
		border: none;
		tr {
			&:hover {
				background-color: map-get($foundation-palette,third) !important;
				color: $white;
				cursor: pointer;
			}
			&.active {
				background-color: map-get($foundation-palette,third) !important;
				color: $white;
			}
			&:nth-child(2n) {
				background-color: transparent;
			}
			border-bottom: 1px solid $light-gray;
			td {
				text-transform: uppercase;
				font-family: $font-title;
				font-weight: 300;
				.view-person {
					margin-bottom: 0;
				}
			}
		}
	}
}
.person {
	&.subtitle {
		font-size: .9rem;
		text-transform: uppercase;
		font-family: $font-title;
		color: $dark-gray;
	}
}
//content boxes
.small-title {
	font-family: $font-title;
	font-size: 1.2rem;
	font-weight: bold;
	color: map-get($foundation-palette,primary);
	text-transform: uppercase;
	@include breakpoint(small only) {
		font-size: 1.3rem;
	}
}
.medium-title {
	font-family: $font-title;
	font-size: 2rem;
	color: map-get($foundation-palette,secondary);
	text-transform: uppercase;
	@include breakpoint(small only) {
		font-size: 1.3rem;
	}
}
.material-icons {
	color: $dark-gray;
}
.element-detail {
	.meta-profile {
		.profile-table {
			margin-top: 2rem;
			font-family: $font-title;
			font-weight: 300;
			text-transform: uppercase;
			tbody {
				border-top: 1px solid $medium-gray;
				border-bottom: 1px solid $medium-gray;
				tr {
					&.links-list {
						td {
							&.links-content {
								ul {
									li {
										word-break: break-all;
									}
								}
							}
						}
					}
				}
				td {
					&.title {
						width: 25%;
					}
					border-bottom: 1px solid $medium-gray;
					padding: 1.5rem 1rem;
				}
			}
		}
	}
	.monto {
		text-align: center;
		font-family: $font-title;
		font-weight: 400;
		font-size: 1.6rem;
		color: $dark-gray;
		span {
			display: block;
			text-align: center;
			font-weight: 300;
			color: $medium-gray;
			text-transform: uppercase;
			font-size: .9rem;
		}
		.material-icons {
			position: relative;
			top: .3rem;
		}
	}
	.limiteComuna {
		text-transform: uppercase;
		font-family: $font-title;
		font-size: .9rem;
		color: $dark-gray;
		text-align: center;
	}
}
.map-container {
	height: 760px;
	position: relative;
}
.map-related {
	position: relative;
	.map-information {
		h4 {
			font-family: $font-title;
			font-size: 1.5rem;
			text-transform: uppercase;
		}
	}
	.map-cities {
		margin-top: 2rem;
		height: 680px;
		overflow: auto;
		h5 {
			padding-bottom: .5rem;
			font-family: $font-title;
			font-size: 1.1rem;
			text-transform: uppercase;
			font-weight: 300;
			border-bottom: 1px solid $light-gray;
		}
	}
}
.map-tooltip {
	display: none;
	font-family: $font-title;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .3rem;
	background-color: map-get($foundation-palette,primary);
	color: $white;
}
#elecciones-countdown {
	width: 90%;
	margin: 0 auto;
	padding-left: 3rem;
	.module {
		display: block;
		font-family: $font-title;
		float: left;
		width: 18%;
		text-align: center;
		margin-right: 1rem;
		.big {
			display: block;
			font-size: 5rem;
		}
		.text {
			display: block;
			text-transform: uppercase;
		}
	}
	@include breakpoint(small only) {
		.module {
			.big {
				font-size: 2rem;
			}
		}
	}
}
.main-footer {
	background-color: map-get($foundation-palette,primary);
	background-image: url(img/back-footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	.footer-title {
		font-family: $font-title;
		font-weight: 700;
		text-transform: uppercase;
	}
	p {
		font-size: .9rem;
	}
	i.material-icons {
		vertical-align: middle;
		color: $white;
		font-size: initial;
	}
	li.rrss {
		font-size: .9rem;
	}
	a {
		color: $white;
		&:hover {
			color: map-get($foundation-palette,third);
		}
	}
	@include breakpoint(small only) {
		text-align: center;
		.footer-title {
			text-align: center;
		}
		p {
			text-align: center;
		}
	}
}
/*LOADER*/
.loader {
	display: none;
  margin: 60px auto;
  font-size: 10px;
  position: absolute;
  top: 5rem;
  left: 6rem;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(127,0,127, 0.2);
  border-right: 1.1em solid rgba(127,0,127, 0.2);
  border-bottom: 1.1em solid rgba(127,0,127, 0.2);
  border-left: 1.1em solid #7f007f;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
//Widgets
.widget {
	.widget-title {
		font-family: $font-title;
		font-size: 1.8rem;
		text-transform: uppercase;
		font-weight: 700;
		color: $dark-gray;
	}
	&.widget_categories {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				&.cat-item-1 {
					display: none;
				}
				a {
					display: block;
					padding: .5rem;
					margin-bottom: .5rem;
					background-color: $light-gray;
					color: $dark-gray;
					&:hover {
						background-color: map-get($foundation-palette, primary);
						color: $white;
					}
				}
			}
		}
	}
}
// Noticias
.single {
	.entry-title {
		color: map-get($foundation-palette, secondary);
	}
	.entry-meta {
		padding: .5rem 0;
		margin-bottom: 1rem;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		color: $dark-gray;
		text-transform: uppercase;
		.material-icons {
			position: relative;
			top: .4rem;
		}
	}
}
.tag-cloud {
	text-transform: uppercase;
}
.noticia {
	margin: 1rem;
	border-bottom: 1px solid $light-gray;
	.thumbnail-post {
		margin-bottom: 1rem;
	}
	.titulo {
		h4 {
			line-height: 2.4rem;
			a {
				color: map-get($foundation-palette,fourth);
				&:hover {
					border-bottom: 2px solid map-get($foundation-palette,fourth);
				}
			}
		}
	}
	.more-link {
		@include button( false, map-get($foundation-palette,primary),lighten(map-get($foundation-palette,primary),10),$white);
		margin-top: 1rem;
		text-transform: uppercase;
	}
	.contenido {
		padding: 1rem .5rem;
		font-size: .9rem;
		color: darken($dark-gray,5);
	}
	.detalles {
		padding: .5rem 0;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		color: $dark-gray;
		font-size: 0.8rem;
		text-transform: uppercase;
		a {
			color: $dark-gray;
			&:hover {
				color: $black;
				border-bottom: 1px solid $black;
			}
		}
		i.material-icons {
			vertical-align: middle;
			font-size: 0.8rem;
		}
	}
}
.wp-pagenavi {
	margin: 3rem 1rem;
	font-size: 1.2rem;
	.pages {
		display: none;
	}
	.pages, .page, .extend, .last, .first {
        border: 0;
    }
    .nextpostslink, .previouspostslink {
        border: 0;
    }
    .current {
        background: $secondary-color;
        color: $white;
        border-radius: .1rem;
        padding: .6rem;
        border: 0;
    }
    a {
        &:hover {
            background: $secondary-color;
            color: $white;
        }
    }
}
// Charts responsive
#totalDenuncias_amchart {
	@include breakpoint(small only) {
		min-width: 290px !important;
		position: relative;
		left: -1.3rem;
	} 
}

//LOADER 
.big-loader {
	position: fixed; 
	height: 100%; 
	width: 100%; 
	padding-top: 2rem;
	background-color: map-get($foundation-palette,primary);
	top: 0; 
	left: 0; 
	z-index: 10000;
	.text-loader {
		display: table; 
		margin: 0 auto; 
		font-size: 1.2rem; 
		color: $white;
	}
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
//Angular Tooltips

/*
 * angular-tooltips
 * 1.1.7
 * 
 * Angular.js tooltips module.
 * http://720kb.github.io/angular-tooltips
 * 
 * MIT license
 * Wed Aug 31 2016
 */
._exradicated-tooltip {
  display: block;
  opacity: 1;
  position: absolute;
  z-index: 999; }

tooltip {
  display: inline-block;
  position: relative; }

@-webkit-keyframes animate-tooltip {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  60% {
    opacity: .8; }
  70% {
    opacity: .9; }
  90% {
    opacity: 1; } }

@-moz-keyframes animate-tooltip {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  60% {
    opacity: .8; }
  70% {
    opacity: .9; }
  90% {
    opacity: 1; } }

@-ms-keyframes animate-tooltip {
  tooltip 0% {
    opacity: 0; }
  tooltip 50% {
    opacity: .5; }
  tooltip 60% {
    opacity: .8; }
  tooltip 70% {
    opacity: .9; }
  tooltip 90% {
    opacity: 1; } }

@keyframes animate-tooltip {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  60% {
    opacity: .8; }
  70% {
    opacity: .9; }
  90% {
    opacity: 1; } }
  tooltip._multiline {
    display: block; }
  tooltip._slow._ready tip {
    animation: animate-tooltip 0.65s; }
  tooltip._fast._ready tip {
    animation: animate-tooltip 0.15s; }
  tooltip._steady._ready tip {
    animation: animate-tooltip 0.35s; }
  tooltip tip {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    display: none;
    line-height: normal;
    width: 300px !important;
    opacity: 0;
    padding: 8px 16px;
    position: absolute;
    text-align: center;
    width: auto;
    will-change: top, left, bottom, right; }
    tooltip tip._hidden {
      display: block;
      visibility: hidden; }
  tooltip.active:not(._force-hidden) tip {
    display: block;
    opacity: 1;
    z-index: 999; }
  tooltip tip-tip {
    font-size: 0.95em; }
    tooltip tip-tip._large {
      font-size: 1.1em; }
    tooltip tip-tip._small {
      font-size: 0.8em; }
  tooltip._top tip {
    left: 50%;
    top: -9px;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%); }
    tooltip._top tip tip-arrow {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgba(0, 0, 0, 0.85);
      content: '';
      height: 0;
      left: 50%;
      margin-left: -6px;
      position: absolute;
      top: 100%;
      width: 0; }
  tooltip._bottom tip {
    right: 50%;
    top: 100%;
    -webkit-transform: translateX(50%) translateY(9px);
    transform: translateX(50%) translateY(9px); }
    tooltip._bottom tip tip-arrow {
      border-bottom: 6px solid rgba(0, 0, 0, 0.85);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      bottom: 100%;
      content: '';
      height: 0;
      left: 50%;
      margin-left: -6px;
      position: absolute;
      width: 0; }
  tooltip._right tip {
    left: 100%;
    top: 50%;
    -webkit-transform: translateX(9px) translateY(-50%);
    transform: translateX(9px) translateY(-50%); }
    tooltip._right tip tip-arrow {
      border-bottom: 6px solid transparent;
      border-right: 6px solid rgba(0, 0, 0, 0.85);
      border-top: 6px solid transparent;
      content: '';
      height: 0;
      margin-top: -6px;
      position: absolute;
      right: 100%;
      top: 50%;
      width: 0; }
  tooltip._left tip {
    left: -9px;
    top: 50%;
    -webkit-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%); }
    tooltip._left tip tip-arrow {
      border-bottom: 6px solid transparent;
      border-left: 6px solid rgba(0, 0, 0, 0.85);
      border-top: 6px solid transparent;
      content: '';
      height: 0;
      left: 100%;
      margin-top: -6px;
      position: absolute;
      top: 50%;
      width: 0; }

tip-tip #close-button {
  cursor: pointer;
  float: right;
  left: 8%;
  margin-top: -7%;
  padding: 3px;
position: relative; }

/*!
 * angular-datatables - v0.5.5
 * https://github.com/l-lin/angular-datatables
 * License: MIT
 */
/* ---------------------------------------- */
/* DATATABLE */
/* ---------------------------------------- */

.dataTables_wrapper {
    /*border: 1px solid #DDDDDD;*/
    padding: 1rem 0;
}
table.dataTable,
table.dataTable.no-footer{
    margin: 1rem 0;
    width: 100% !important;
    border-top: 1px solid #DDDDDD;;
    border-bottom: 1px solid #DDDDDD;
}
/* -- select box --*/
.dataTables_length {
    margin: 0.2rem 0 0.8rem 1rem;
}
.dataTables_length select{
    border: none;
}
.dataTables_length select:focus{
    outline: none;
}
/* -- search box --*/
.dataTables_filter {
    margin-right: 1rem;
}
.dataTables_filter input[type="search"] {
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}
/* -- table --*/
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #DDDDDD;;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 18px;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #585858;
}
.dataTables_wrapper .dataTables_info {
    margin-left: 1rem;
}



/* ---------------------------------------- */
/* PAGINATION */
/* ---------------------------------------- */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: none;
    background: #D6D6D6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.3em 0.8em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    /*transition: all 0.4s ease;*/
    padding: 0.3em 0.8em;
    background: #D6D6D6;
    border: 1px solid transparent;
}
